{
    "project_id": "forward-karma-262407",
    "source_image_family": "ubuntu-1604-lts"
    "machine_type": "f1-micro"
    "image_description": "puma application inside ubuntu 16-lts"
    "disk_size": "10"
    "disk_type": "pd-standard"
    "network": "default"
}
